#post {
    border: 1px solid #eee;
    width: 40%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
header {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
    color: white;
    box-shadow: 3px 2px 3px;
}